<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>label.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>620879F91D6AFE11008481DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62087A121D6AFE12008481DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62087A1D1D6AFE12008481DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
